{% extends 'requestResultBase.html' %}{% block child %}
<div class="article_3">
    <table>
        <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Сумма заказа</th>
            <th>Дата заказа</th>
            <th>Статус</th>
            <th>Дата последнего изменения статуса</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>1000</td>
            <td>2020-02-05</td>
            <td>Сборка</td>
            <td>2020-05-13</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1000</td>
            <td>2020-02-05</td>
            <td>Отправлен</td>
            <td>2020-05-13</td>
        </tr>
        </tbody>
    </table>
</div>{% endblock %}