{% extends 'editBase.html' %}{% block child %}<div class="article_3"><table>
<thead><tr><th>Артикул</th><th>Продукт</th><th>Материал</th><th>Единица измерения</th><th>Цена</th><th>Актуальное количество</th><th>Дата фиксации</th><th>Зарезервировано продукта</th><th>Дата резервации</th><th> </th><th> </th></tr></thead>
<tbody>
<tr><td>1</td><td>Новый стул</td><td>Ясень</td><td>Штука</td><td>20</td><td>75</td><td>2018-02-03</td><td>50</td><td>2020-03-05</td><td><a class="" href="/edit/products/1">Редактировать</a></td><td><a class="confirmable" href="/edit/products/delete/1">Удалить</a></td></tr>
<tr><td>2</td><td>Стол</td><td>Дуб</td><td>Штука</td><td>40</td><td>50</td><td>2018-02-03</td><td>25</td><td>2020-03-25</td><td><a class="" href="/edit/products/2">Редактировать</a></td><td><a class="confirmable" href="/edit/products/delete/2">Удалить</a></td></tr>
<tr><td>3</td><td>Шкаф</td><td>Липа</td><td>Штука</td><td>60</td><td>30</td><td>2018-05-03</td><td>20</td><td>2021-04-15</td><td><a class="" href="/edit/products/3">Редактировать</a></td><td><a class="confirmable" href="/edit/products/delete/3">Удалить</a></td></tr>
<tr><td>4</td><td>Комод</td><td>Осина</td><td>Штука</td><td>50</td><td>25</td><td>2019-07-03</td><td>10</td><td>2021-04-20</td><td><a class="" href="/edit/products/4">Редактировать</a></td><td><a class="confirmable" href="/edit/products/delete/4">Удалить</a></td></tr>
</tbody>
</table></div>{% endblock %}