<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Редактировать</title>
    <meta charset="UTF-8">
</head>

<body>
<div class="div_like_belt_1">
    <p class="article_1">Пользователь с id={{ idLogin }} успешно удален. Возвращение через 3 секунды</p>
</div>

<script>
    window.setTimeout(function () {
        window.location.href = "../../users";
    }, 3000);
</script>

<div class="div_like_button_1">
    <a href="{{ url_for('edit.editUsers') }}" class="a_yellow">Вернуться</a>
</div>
</body>
</html>