<!doctype html>
<html>
<head>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <title>Главное меню</title>
    <meta charset="UTF-8">
</head>

<body>
<div class="div_like_belt_1">
    <p class="article_1">Главное меню</p>
</div>

{% if name != 'Посетитель' %}
<p class="article_2">Вы авторизованы как {{name}}</p>
{% endif %}

{% if name == 'Посетитель' %}
<div class="div_like_button_1">
    <a href="{{ url_for('auth.authIndex') }}">Авторизоваться</a>
</div>
{% else %}
<div class="div_like_button_1">
    <a href="{{ url_for('requests.requestsIndex') }}">Работа с запросами</a>
</div>
<div class="div_like_button_1">
    <a href="{{ url_for('edit.editIndex') }}">Работа с редактированием</a>
</div>
<div class="div_like_button_1">
    <a href="{{ url_for('basket.basketIndex') }}">Работа с корзиной</a>
</div>
<div class="div_like_button_1">
    <a href="{{ url_for('auth.authDeauthorize') }}">Деавторизоваться</a>
</div>
{% endif %}
<div class="div_like_button_1">
    <a class="a_yellow" href="{{ url_for('Exit') }}">Выйти</a>
</div>
</body>
</html>